.social {
    display: flex;
    align-items: center;
    column-gap: 20px;
    @include max-lg{
        column-gap: 15px;
    }
    @include max-md{
        column-gap: 5px;
    }
    @include max-sm{
        column-gap: 10px;
    }
    
    &__icon {
        & svg {
            width: 32px;
            height: 32px;
            @include max-lg{
                width: 28px;
                height: 28px;
            }
            @include max-md{
                width: 22px;
                height: 22px;
            }
            @include max-sm{
                width: 32px;
                height: 32px;
            }
            
        }
    }
}
