<div class="blockTemplate">
    <div class="container">
        <div class="blockTemplate__content">
            <div class="blockTemplate__head">
                <div class="sectionTitle">Kasinové bonusy</div>
                <button class="button2">Další články</button>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="card__top">
                        <img src="images/bonus.png" alt="">
                        <div class="card__top-info">
                            <div class="card__top-title">Betano</div>
                            <div class="card__top-rating">
                                <div class="rating">
                                    <span class="star active" data-rating="1">&#9733;</span>
                                    <span class="star active" data-rating="2">&#9733;</span>
                                    <span class="star active" data-rating="3">&#9733;</span>
                                    <span class="star active" data-rating="4">&#9733;</span>
                                    <span class="star " data-rating="5">&#9733;</span>
                                </div>
                                <div class="rating__result">4.0</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card__desc">350 Free Spinů + 100 Kč bez vkladu+ Bonus na první vklad 100% až do 600 Kč do casina</div>-->
                    <div class="card__bottom">
                        <div class="button1">Přehrát</div>
                        <!--<div class="card__bottom-link">
                            Přečtěte si více
                        </div>-->
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <img src="images/bonus.png" alt="">
                        <div class="card__top-info">
                            <div class="card__top-title">Betano</div>
                            <div class="card__top-rating">
                                <div class="rating">
                                    <span class="star active" data-rating="1">&#9733;</span>
                                    <span class="star active" data-rating="2">&#9733;</span>
                                    <span class="star active" data-rating="3">&#9733;</span>
                                    <span class="star active" data-rating="4">&#9733;</span>
                                    <span class="star " data-rating="5">&#9733;</span>
                                </div>
                                <div class="rating__result">4.0</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card__desc">350 Free Spinů + 100 Kč bez vkladu+ Bonus na první vklad 100% až do 600 Kč do casina</div>-->
                    <div class="card__bottom">
                        <div class="button1">Přehrát</div>
                        <!--<div class="card__bottom-link">
                            Přečtěte si více
                        </div>-->
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <img src="images/bonus.png" alt="">
                        <div class="card__top-info">
                            <div class="card__top-title">Betano</div>
                            <div class="card__top-rating">
                                <div class="rating">
                                    <span class="star active" data-rating="1">&#9733;</span>
                                    <span class="star active" data-rating="2">&#9733;</span>
                                    <span class="star active" data-rating="3">&#9733;</span>
                                    <span class="star active" data-rating="4">&#9733;</span>
                                    <span class="star " data-rating="5">&#9733;</span>
                                </div>
                                <div class="rating__result">4.0</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card__desc">350 Free Spinů + 100 Kč bez vkladu+ Bonus na první vklad 100% až do 600 Kč do casina</div>-->
                    <div class="card__bottom">
                        <div class="button1">Přehrát</div>
                        <!--<div class="card__bottom-link">
                            Přečtěte si více
                        </div>-->
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <img src="images/bonus.png" alt="">
                        <div class="card__top-info">
                            <div class="card__top-title">Betano</div>
                            <div class="card__top-rating">
                                <div class="rating">
                                    <span class="star active" data-rating="1">&#9733;</span>
                                    <span class="star active" data-rating="2">&#9733;</span>
                                    <span class="star active" data-rating="3">&#9733;</span>
                                    <span class="star active" data-rating="4">&#9733;</span>
                                    <span class="star " data-rating="5">&#9733;</span>
                                </div>
                                <div class="rating__result">4.0</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card__desc">350 Free Spinů + 100 Kč bez vkladu+ Bonus na první vklad 100% až do 600 Kč do casina</div>-->
                    <div class="card__bottom">
                        <div class="button1">Přehrát</div>
                        <!--<div class="card__bottom-link">
                            Přečtěte si více
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>