<div class="blockTemplate">
    <div class="container">
        <div class="blockTemplate__content">
            <div class="blockTemplate__head">
                <div class="sectionTitle">Novinky z herního průmyslu</div>
                <button class="button2">Další články</button>
            </div>
            <div class="news">
                <div class="news__item">
                    <img src="images/news1.png" alt="">
                    <img class="pseudo" src="images/pseudo.png" alt="">
                    <div class="news__info">
                        <div class="news__title"><h4>Růst popularity živých kasinových her: Trendy a budoucnost</h4></div>
                        <div class="news__date"><h6>8 Ноября 2023</h6></div>
                    </div>
                </div>
                <div class="news__item">
                    <img src="images/news2.png" alt="">
                    <img class="pseudo" src="images/pseudo.png" alt="">
                    <div class="news__info">
                        <div class="news__title"><h4>Výhody a nevýhody mobilního hraní v online kasinech</h4></div>
                        <div class="news__date"><h6>8 Ноября 2023</h6></div>
                    </div>
                </div>
                <div class="news__item">
                    <img src="images/news3.png" alt="">
                    <img class="pseudo" src="images/pseudo.png" alt="">
                    <div class="news__info">
                        <div class="news__title"><h4>Růst popularity živých kasinových her: Trendy a budoucnost</h4></div>
                        <div class="news__date"><h6>8 Ноября 2023</h6></div>
                    </div>
                </div>
                <div class="news__item">
                    <img src="images/news3.png" alt="">
                    <img class="pseudo" src="images/pseudo.png" alt="">
                    <div class="news__info">
                        <div class="news__title"><h4>Růst popularity živých kasinových her: Trendy a budoucnost</h4></div>
                        <div class="news__date"><h6>8 Ноября 2023</h6></div>
                    </div>
                </div>
                <div class="news__item">
                    <img src="images/news3.png" alt="">
                    <img class="pseudo" src="images/pseudo.png" alt="">
                    <div class="news__info">
                        <div class="news__title"><h4>Růst popularity živých kasinových her: Trendy a budoucnost</h4></div>
                        <div class="news__date"><h6>8 Ноября 2023</h6></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>