<div class="blockTemplate">
    <div class="container">
        <div class="blockTemplate__content">
            <div class="blockTemplate__head">
                <div class="sectionTitle">Sekce webu</div>
            </div>
            <div class="categoryWall">
                <a href="#" class="categoryWall__item">
                    <img src="images/catg1.png" alt="category">
                    <h2>Česká online kasina</h2>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/catg2.png" alt="category">
                    <h2>Online sázkové kanceláře</h2>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/catg3.png" alt="category">
                    <h2>Hrací automaty</h2>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/catg4.png" alt="category">
                    <h2>Kasinové bonusy a promo kódy</h2>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/catg5.png" alt="category">
                    <h2>Online poker</h2>
                </a>
                <a href="#" class="categoryWall__item">
                    <img src="images/catg6.png" alt="category">
                    <h2>Novinky</h2>
                </a>
            </div>
        </div>
    </div>
</div>