<div class="blockTemplate">
    <div class="container">
        <div class="blockTemplate__content">
            <div class="blockTemplate__head">
                <div class="sectionTitle">Novinky z herního průmyslu</div>
                <button class="button2">Další články</button>
            </div>
            <div class="news">
                <div class="news__item"></div>
            </div>
        </div>
    </div>
</div>