<div class="pageTemplate">
    <div class="container">
        <div class="pageTemplate__content">
            <div class="pageTitle text-left">Rozkvitající Svět Zábavy: Česká Hazardní Scéna</div>
             <div class="contacts">
                <div class="contacts__group">
                    <a href="mailto:zpravy@gmail.com" class="contacts__group-mail">zpravy@gmail.com</a>
                    <a href="tel:+420676783679" class="contacts__group-tel">+420 (67) 6783 679</a>
                </div>
                <div class="contacts__form">
                    <div class="contacts__form-title">Formulář zpětné vazby</div>
                    <div class="contacts__form-group">
                        <label>Název</label>
                        <input type="text">
                    </div>
                    <div class="contacts__form-group">
                        <label>E-mail</label>
                        <input type="email" name="" id="">
                    </div>
                    <div class="contacts__form-group">
                        <label>Vaše otázka</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit" class="button1">Podpora</button>
                </div>
             </div>
        </div>
    </div>
</div>