<main class="main">
    <div class="container">
        <div class="main__content">
            <div class="main__info">
                <h1>Nejlepší kasina v České republice v roce 2023</h1>
                <h4>Máte pochybnosti o poctivosti a spolehlivosti virtuálních heren? Pak byste měli věnovat pozornost našemu hodnocení "online kasina Česká republika", sestavenému na základě skutečných faktů a hodnocení, které odráží míru spolehlivosti, poctivosti populárních herních platforem.</h4>
                <button class="button1">Přehrát</button>
            </div>
        </div>
    </div>
</main>