<div class="pageTemplate">
    <div class="container">
        <div class="pageTemplate__content">
            <div class="pageTitle text-left">Rozkvitající Svět Zábavy: Česká Hazardní Scéna</div>
            <div class="blog">
                <div class="article__group">
                    <div class="article__text article__author">Marina</div>
                    <div class="article__text article__date">15.11.2023</div>
                </div>
                <div class="blog__img">
                    <img src="images/blog_img.png" alt="">
                </div>
                <div class="blog__desc">
                    <p>Nejvyšší rada Ukrajiny zaregistrovala nový návrh zákona č. 10101, který stanoví výběrové řízení na vydání licence pro sázkové hry a kasina pro státní loterie. Náklady na licenci budou činit 19,8 milionu hřiven ročně.</p>
                    <p>Jedním ze spoluautorů a ideologů nového zákona byl Daniel Hetmancev, stejně jako lidový poslanec Jaroslav Železňak.</p>
                    <p>Faktem je, že národní loterie M.S.L. a "Ukrajinská národní loterie" nyní platí za pracovní povolení desetkrát více. A pokud bude zákon přijat, výrazně se sníží velikost licenční zátěže, čímž se činnost loterií stane pohodlnější a ziskovější.</p>
                    <p>Zde je třeba poznamenat, že provozovatelé hazardních her platí poměrně hodně:</p>
                    <ul class="blog__desc-list">
                        <li>
                            <p>Kč ročně za sázkovou činnost;</p>
                        </li>
                        <li>
                            <p>30 milionů ročně za online kasina.</p>
                        </li>
                        <li>
                            <p>40 milionů za každých pět heren s výherními automaty.</p>
                        </li>
                        <li>
                            <p>Celková částka je opravdu impozantní. Navíc je třeba vzít v úvahu daňové odvody, které jsou také poměrně vysoké.</p>
                        </li>
                    </ul>
                    <p>Na Ukrajině se již několik let hovoří o tom, že by se daňový systém ve vztahu k podnikání v oblasti hazardních her měl dříve či později revidovat. Koneckonců byl vytvořen v době, kdy byla činnost provozoven hazardních her zakázána, a proto nezohledňuje specifika tohoto podnikání. V souladu s tím je daňová a další finanční zátěž často příliš vysoká na to, aby provozovatelé začali legálně pracovat na základě ukrajinské licence. A to je zase jeden z důležitých důvodů, proč na Ukrajině stále působí tolik nelegálních online kasin, sázkových kanceláří atd. Někteří evropští provozovatelé hazardních her navíc již uvedli, že jsou připraveni vstoupit na ukrajinský trh, pokud bude daňový systém revidován a stane se loajálnějším k podnikání v oblasti hazardních her. Přitom jsou připraveni učinit takový krok i v podmínkách probíhajících vojenských operací na území Ukrajiny.</p>
                    <p>Je pravděpodobné, že v budoucnu skutečně dojde k revizi daňových předpisů týkajících se hazardních her, sázkových kanceláří a loterií. Zatím je však velmi obtížné říci, kdy se tak stane a jaké tyto podmínky nakonec budou. Protože v současné době nebyly v tomto směru podniknuty žádné závažné kroky.</p>
                    <p>Mnozí odborníci přitom vážně tvrdí, že po skončení války na Ukrajině a optimalizaci daňového systému s ohledem na specifika hazardního podnikání je naše země zcela schopna stát se jedním z hlavních center hazardu ve východní Evropě. Ve skutečnosti k tomu máme vše potřebné. Proto sledujeme aktualizace v této oblasti a očekáváme nové pozitivní změny.</p>
                </div>
            </div>
            <div class="blockTemplate">
                <div class="blockTemplate__content">
                    <div class="blockTemplate__head">
                        <div class="sectionTitle">Novinky z herního průmyslu</div>
                        <button class="button2">Další články</button>
                    </div>
                    <div class="news">
                        <div class="news__item">
                            <img src="images/news1.png" alt="">
                            <div class="news__info">
                                <a href="#" class="news__title"><h4>Růst popularity živých kasinových her: Trendy a budoucnost</h4></a>
                                <div class="news__date"><h6>8 Ноября 2023</h6></div>
                            </div>
                        </div>
                        <div class="news__item">
                            <img src="images/news2.png" alt="">
                            <div class="news__info">
                                <a href="#" class="news__title"><h4>Výhody a nevýhody mobilního hraní v online kasinech</h4></a>
                                <div class="news__date"><h6>8 Ноября 2023</h6></div>
                            </div>
                        </div>
                        <div class="news__item">
                            <img src="images/news3.png" alt="">
                            <div class="news__info">
                                <a href="#" class="news__title"><h4>Růst popularity živých kasinových her: Trendy a budoucnost</h4></a>
                                <div class="news__date"><h6>8 Ноября 2023</h6></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<ul class="pagination">
                <li class="pagination__item active">
                    <a href="#" class="pagination__link">1</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">2</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">...</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">5</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">
                        
                    </a>
                </li>
            </ul>-->
        </div>
    </div>
</div>