<div class="pageTemplate">
    <div class="container">
        <div class="pageTemplate__content">
            <div class="pageTitle">Články o kasinech</div>
            <div class="articles">
                <div class="articles__article article">
                    <div class="article__image">
                        <img src="images/art1.png" alt="article">
                    </div>
                    <div class="article__info">
                        <div class="article__title"><h2><a href="#">Rozkvitající Svět Zábavy: Česká Hazardní Scéna</a></h2></div>
                        <div class="article__group">
                            <div class="article__text article__author">Marina</div>
                            <div class="article__text article__date">15.11.2023</div>
                        </div>
                        <div class="article__desc"><h4>V České republice, země známé svou bohatou historií a kulturním dědictvím, najdeme také rozkvétající svět zábavy – svět online kasin. Česká hazardní scéna se v posledních letech stala dějištěm vzrušujícího a inovativního zážitku pro milovníky hazardu.</h4></div>
                    </div>
                </div>
                <div class="articles__article article">
                    <div class="article__image">
                        <img src="images/art1.png" alt="article">
                    </div>
                    <div class="article__info">
                        <div class="article__title"><h2><a href="#">Rozkvitající Svět Zábavy: Česká Hazardní Scéna</a></h2></div>
                        <div class="article__group">
                            <div class="article__text article__author">Marina</div>
                            <div class="article__text article__date">15.11.2023</div>
                        </div>
                        <div class="article__desc"><h4>V České republice, země známé svou bohatou historií a kulturním dědictvím, najdeme také rozkvétající svět zábavy – svět online kasin. Česká hazardní scéna se v posledních letech stala dějištěm vzrušujícího a inovativního zážitku pro milovníky hazardu.</h4></div>
                    </div>
                </div>
            </div>
            <!--<ul class="pagination">
                <li class="pagination__item active">
                    <a href="#" class="pagination__link">1</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">2</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">...</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">5</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">
                        
                    </a>
                </li>
            </ul>-->
        </div>
    </div>
</div>