.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max-md{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
}
.card {
    padding: 20px;
    max-width: 270px;
    border: none;
    &__top {
        & img {
        }
        &-info {
            text-align: center;
        }
        &-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            color: #2c543c;
            margin-top: 15px;
            @include max-xxl{
                font-size: 14px;
                line-height: 14px;
                margin-top: 10px;
            }
            @include max-md{
                font-size: 16px;
                line-height: 19px;
                margin-top: 8px;
            }
            
        }
        &-rating {
            display: flex;
            align-items: baseline;
            justify-content: center;
            column-gap: 5px;
            @include max-xxxl{
                align-items: center;
            }
            
            
        }
    }
    
    &__desc {
        display: none;
        @include max-md {
            display: block;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-link {
            display: none;
            @include max-md {
                display: block;
            }
        }
        & .button1 {
            margin-top: 15px;
            text-align: center;
            @include max-xxl{
                margin-top: 10px;
            }
            @include max-md{
                margin-top: 8px;
            }
            
        }
    }
}